{% extends 'CraftKeenCMSAdminBundle::layout.html.twig' %}

{% block admin_block_title %}{{ 'Write a Message'|trans }}{% endblock %}

{% set path_prefix = 'craftkeen_cms_admin_inbox_' %}

{% block admin_block_breadcrumb %}
	<li><a href="{{ path(path_prefix~'index') }}">{{ 'Inbox'|trans }}</a></li>
	<li class="active">{{ 'Write a Message'|trans }}</li>
{% endblock %}

{% block admin_block_body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'Send'|trans }}" class="btn btn-default" />
    {{ form_end(form) }}

{% endblock %}