<div class="row inline-mode">
	<a href="{{ path('admin_careers_slider_index') }}" class="button-edit-element" title="Edit element"></a>
	<div class="slider-info-js slider-info">
		{% for item in careers_slider %}
		   <div class="item" style="background-image: url('{{ item.background }}');">
		        <div class="overlay">
		            <div class="text-container">
		                <div class="left">
		                    <p>{{ item.fancyNumber }}</p>
		                </div>
		                <div class="right">
		                    <div class="title">
		                        <p>{{ item.header | raw }}</p>
		                    </div>
		                    <div class="description">
		                        <p>{{ item.description | raw }}</p>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	    {% endfor %}
	</div>
</div>
