{% extends 'CraftKeenFCRBundle:Property:propertyLayout.html.twig' %}

{% block meta_title %}{{ 'Property Add Demographic'|trans }}{% endblock %}

{% block hero %}
	{% set heroImage = ckcms_library_url~'/properties/hero/default_header.png' %}		
	<section class="hero-image container-fluid" style="
		background: {{ hero_overlay }} ,url( '{{ heroImage }}' ) no-repeat center center scroll;
		-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    	background-size: cover;
			 ">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 text-center wrap-hero">
				<div class="container-content">
					<h1 class="text-shadow">New Property Wizard, Demographic</h1>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
	<script>
        $(function() {
            // Enable JQ validation
            $("form[name=craftkeen_fcrbundle_property_demographic]").validate({
                rules: {
                    "craftkeen_fcrbundle_property_demographic[annualAverageDailyTraffic]": {
//                        required: true,
                        number: true
                    },
                    "craftkeen_fcrbundle_property_demographic[population1km]": {
                        number: true,
//                        required: true,
                    },
                    "craftkeen_fcrbundle_property_demographic[population3km]": {
                        number: true,
//                        required: true,
                    },
                    "craftkeen_fcrbundle_property_demographic[population5km]": {
                        number: true,
//                        required: true,
                    },
                    "craftkeen_fcrbundle_property_demographic[household1km]": {
                        number: true,
//                        required: true,
                    },
                    "craftkeen_fcrbundle_property_demographic[household3km]": {
                        number: true,
//                        required: true,
                    },
                    "craftkeen_fcrbundle_property_demographic[household5km]": {
                        number: true,
//                        required: true,
                    },
                    "craftkeen_fcrbundle_property_demographic[householdIncome1km]": {
                        number: true,
//                        required: true,
                    },
                    "craftkeen_fcrbundle_property_demographic[householdIncome3km]": {
                        number: true,
//                        required: true,
                    },
                    "craftkeen_fcrbundle_property_demographic[householdIncome5km]": {
                        number: true,
//                        required: true,
                    },
                }
            });
        });
	</script>
{% endblock %}

{% block body %}
<section class="container-fluid">
	<div class="row grid">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
			<div class="buffer-7-top">
				<p class="text-center"><b>{{ 'Demographic'|trans }}</b> for: {{ propertyDemographic.property.parentName }} {{ propertyDemographic.property.childName }}</p>
				<div class="label label-warning">{{'Status:'|trans}} {{ propertyDemographic.property.status }}</div>
				{{ form_start(form) }}
					{{ form_widget(form) }}
					<input type="submit" class="btn btn-primary" value="{{ 'Next'|trans([], 'messages', app.request.locale) }}" />
				{{ form_end(form) }}
				<br />
			</div>
		</div>
	</div>
</section>						
{% endblock %}
