{% extends 'CraftKeenCMSThemeBundle:'~theme~':layout.html.twig' %}

{% block meta_title %}{% if position.title %}{{ position.title }}{% else %}{{ parent() }}{% endif %}{% endblock %}

{% block hero %}
	{% set heroImage = 'https://fcr.ca/_pages/careers/careers-details/images/hero.png' %}		
	<section class="hero-image container-fluid" style="background-image: url('{{ heroImage }}')"> 
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 text-center wrap-hero">
				<div class="container-content">
					<h1 class="text-shadow">{{ position.title }}</h1>
				</div>
			</div>
		</div>
	</section>	
{% endblock %}
{% block admin_panel %}
    {% import 'CraftKeenCMSAdminBundle:macros:AdminPanel.html.twig' as AP %}
    {% set data = {} %}
{% endblock %}


{% block footer_js %}
	{{ parent() }}
	{% javascripts
	     
		'@CraftKeenFCRBundle/Resources/public/Careers/src/js/*'
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
				
{% endblock %}

{% block body %}
	<!-- Properties-careers Section -->
	<section class="properties-careers container-fluid">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
				<div class="row ">
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="thumbnails ">
							<img class="img-responsive" src="https://fcr.ca/_pages/careers/careers-details/images/hr_carrer_icon4.png" alt="" />
							<div>
								<span>{{ position.city }}</span>
								<div class="more">{{ position.state }}, Canada</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="thumbnails ">
							<img class="img-responsive" src="https://fcr.ca/_pages/careers/careers-details/images/hr_carrer_icon5.png" alt="" />
							<div>
								<span>{{ 'Full Time'|trans }}</span>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="thumbnails">
							<img class="img-responsive" src="https://fcr.ca/_pages/careers/careers-details/images/hr_carrer_icon6.png" alt="" />
							<div>
								<span>{{ position.categoryName }}</span>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ">
						<div class="thumbnails">
							<img class="img-responsive" src="https://fcr.ca/_pages/careers/careers-details/images/hr_carrer_icon7.png" alt="" />
							<div>
								<span>{{ 'Experienced'|trans }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container-fluid jobs-career">
		<div class="row ">`
			<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
				<div class="row ">
					<div class="col-lg-10 col-lg-offset-1">
						
						{% for type, messages in app.session.flashbag.all() %}
							{% for message in messages %}
								<div class="alert alert-{{ type }} alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									{{ message | raw }}
								</div>
							{% endfor %}
						{% endfor %}
	
						<div class="job-description">
							{{ position.description|remove_inline_styles|raw }}<br >
							<a href="/careers#join-our-team">{{ 'View All Jobs'|trans }} &nbsp;&nbsp;
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</div>	
					</div>

				</div>
			</div>
		</div>  
	</section>

	<section class="more-career container-fluid">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
				<div class="content-wrapper">
					<p>{{'fcr.careers.jobs.details.beforeapply'|trans}}.</p>
					<div class="wrapper-btn">
						<a id="apply-button" href="javascript:void(0);" class="button">{{ 'fcr.careers.jobs.details.apply'|trans }}&nbsp;&nbsp;
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</a>
					</div>
					<div class="forms ">                
						<div class="job-form-apply form-container">
							<div class="form-white">
								{{ form_start(form) }}
									
									<div class="inputs_container">
										<div class="group">
                                            {{ form_errors(form.firstName) }}
											{{ form_widget(form.firstName, {'attr': {'class': 'inputMaterial', 'placeholder': 'First Name'|trans } }) }}
										</div>
										<div class="group">
                                            {{ form_errors(form.lastName) }}
											{{ form_widget(form.lastName, {'attr': {'class': 'inputMaterial', 'placeholder': 'Last Name'|trans} }) }}
										</div>
										<div class="group">
                                            {{ form_errors(form.email) }}
											{{ form_widget(form.email, {'attr': {'class': 'inputMaterial', 'placeholder': 'Email'|trans} }) }}
										</div>
									</div>
									<div class="group">
                                        {{ form_errors(form.address) }}
										{{ form_widget(form.address, {'attr': {'class': 'inputMaterial', 'placeholder': 'Address'|trans} }) }}
									</div>
									<div class="inputs_container">
										<div class="group">
                                            {{ form_errors(form.city) }}
											{{ form_widget(form.city, {'attr': {'class': 'inputMaterial', 'placeholder': 'City'|trans} }) }}
										</div>
										<div class="group">
                                            {{ form_errors(form.province) }}
											{{ form_widget(form.province, {'attr': {'class': 'inputMaterial', 'placeholder': 'Province'|trans} }) }}
										</div>
										<div class="group">
                                            {{ form_errors(form.postal) }}
											{{ form_widget(form.postal, {'attr': {'class': 'inputMaterial', 'placeholder': 'Postal Code'|trans} }) }}
										</div>
										<div class="group">
                                            {{ form_errors(form.phone) }}
											{{ form_widget(form.phone, {'attr': {'class': 'inputMaterial phoneField', 'placeholder': 'Phone'|trans} }) }}
										</div>
										<div class="group">
											<div>{{ 'Please upload a copy of your resume'|trans }}:</div>
                                            {{ form_errors(form.resume) }}
											{{ form_widget(form.resume, {'attr': {'class': 'inputMaterial'} }) }}
										</div>

									</div> 
									{{ form_widget(form.positionId, {'attr': {'class': 'hidden', 'value':position.code } }) }}
									<button type="submit" class="button">{{ 'Submit'|trans }} </button>
								{{ form_end(form) }}
							</div>
						</div>
					</div>
				</div>            
			</div>
		</div>
	</section>
	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}